USE [DB34]
GO
/****** Object:  Table [dbo].[LookupCategory]    Script Date: 4/13/2019 4:15:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LookupCategory](
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
